:root {
    /* === Globals colors === */
    --text-primary: #ccc;
    --text-accent: #2C2C2C;
    --border-primary: #ccc;
    --border-accent: #fff;
    --bg-default: #222;
    --bg-contrast: #111;
    --bg-alt: #ccc;

    /* === Code balises formating === */
    --text-code: #ffa541;
    --bg-code: #4f4f4f;

    /* === Status colors === */
    --error: #ff2536;

    /* === Shorthands === */
    --border-default: var(--border-primary) 1px solid;
    --border-default-radius:4px;
    --transition-default: all 0.2s ease-in-out;

    /* === Formats === */
    --desktop-size: 1920px;
    --tablet-size: 1240px;
    --telephone-size: 768px;
}
